.header {
    height: 40%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    h2 {
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 3.75rem;
        line-height: 1.2;
        letter-spacing: -0.0083em;
    }
    h6 {
        color: darkgray;
        text-transform: capitalize;
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.57;
        letter-spacing: 0.00714em;
    }
}

.banner {
    background-image: url('../../assets/banner2.jpg');
    height: 400px;
    width: 100%;
}

.sub-header {
    height: 50%;
    display: flex;
    align-items: center;
}

.card {
    border: 0;
    background: transparent;
    color: #fff;
    padding: 10px;
    margin: 40px;
    width: 100px;
    height: 200px;
    img {
        width: 70px;
        margin: 0 auto;
    }
    h5 {
        font-weight: 500;
    }
    p {
        font-weight: 700;
    }
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

:host ::ng-deep .mat-sort-header-content {
    color: #fff;
}

:host ::ng-deep .mat-paginator-outer-container {
    background-color: rgb(36, 37, 37);
}

:host ::ng-deep tr.mat-header-row {
    background-color: #009688;
}

:host ::ng-deep tr.mat-row {
    height: 70px;
}
